* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 0;
}
.navbar {
  background-color: peru;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar > a {
  width: 100px;
  margin: 5px;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}
img {
  width: 30%;
}

.titulo {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
}

.main {
  flex: 70%;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
