* {
  box-sizing: border-box;
}

/* GLOBAL VARIABLES*/

body {
  font-family: Arial;
  margin: 0;
}
.navbar {
  background-color: peru;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar > a {
  width: 100px;
  margin: 5px;
}

img {
  width: 40%;
}
/* MAIN BODY */

.site-title {
  background: url("img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-background {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 15%;
  background-color: red;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
}

.main {
  flex: 70%;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
